* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;

  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

 
}

main{
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;

  padding: 0;
}

.lesson-container {
  display: flex;

  flex-direction: column;

  align-items: center;

  margin-top: 20px;
}

.lesson-container > h2 {
  margin-bottom: 14px;
}

.task-container {
  width: 80%;

  margin: auto;
}
